alembic
click
dominate
Flask
Flask-Bootstrap
Flask-Migrate
Flask-SQLAlchemy
Flask-WTF
greenlet
gunicorn
importlib-metadata
itsdangerous
Jinja2
Mako
MarkupSafe
numpy
pandas
psycopg2-binary
python-dateutil
python-decouple
pytz
six
SQLAlchemy
visitor
Werkzeug
WTForms
zipp
