body { 
    /* background-image: url('https://e7.pngegg.com/pngimages/906/122/png-clipart-pokemon-logo-pokemon-logo.png'); */
    text-align: center;
    background-position: center;
    background-repeat: none;
    color: #000000;
    background-color: #970000
    ;
}