{% extends 'base.html' %}


{% block title %}
    {{ super() }}
    Blog
{% endblock %}

{% block content %} 
    <header class="main-head">
        <nav>
            <h1 id="logo">Blog Post</h1>
            <ul>
                <li><a href="{{ url_for('index') }}">Inicio</a></li>
                <li><a href="{{ url_for('add') }}">Agregar</a></li>
            </ul>
        </nav>
    </header>

{% for post in posts %}

    <section class="post_container">

        <h3 class="post-title">{{ post.title }}</h3>

        <h4 class="date">publicado en: {{ post.date.strftime('%d/%m/%Y') }} </h4>
        <div class="text">{{ post.text }}</div>

    </section>

    <form class="delete-button" action="{{ url_for('delete') }}" method="POST">
        <button value="{{ post.id }}" name="post_id">Borrar post</button>
    </form>


{% endfor %}
{% endblock %}