{% extends 'base.html' %}

{% block title %}
    {{ super() }}
    Bienvenido!
{% endblock %}

{% block content %}
    <h1>Bienvenido!!</h1>

    <p>Bienvenido a la pagina principal, sobre mi avance y proyectos desarrollados en todos los lenguajes que he aprendido a lo largo de mi carrera. A continuaciòn, encontraras una serie de links, que te dirigiran a cada uno de los proyectos realizados. Sientete libre al interactuar por todos ellos.</p>
    <p>Agradezco de antemano tu tiempo, para ver cada uno de los proyectos y la interacciòn que tendras con ellos. </p>
    <ul>
        <li><a href="{{ url_for('obtener_pokemons') }}">Ir a la Pokedex</a>
        <li><a href="{{ url_for('blog') }}">Ir al Blog</a></li></li>
        <!-- <li><a href="">Ir a la Encuesta</a></li> -->
    </ul>

    <p><strong>Ten un excelente dia y gracias por tu visita!</strong></p>

    <p><strong>MIS REDES!</strong></p>
    <p><li><a href="https://www.instagram.com/alejandrogiraldo2345/">Instagram</a></li></p>
    <p><li><a href="https://www.facebook.com/alejandro.echeverry.777/">Facebook</a></li></p>
    <p><li><a href="https://www.linkedin.com/in/alejandro-echeverry-giraldo-185aab225/">Linkedin</a></li></p>

{% endblock %}

